@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

.main {
  width: 113%;
  height: 113%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #0a6a5c;
  opacity: 100%;
  z-index: 1;
  transition: all 2s ease-in-out;
}

.con1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.main-img {
  width: 750px;
  height: 750px;
  transform: scale(1.2);
}

.move-container {
  position: relative;
  top: 0%;
  left: 0%;
  width: 750px;
  height: 750px;
  /* background-color: #0a6a5c; */
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.explain {
  display: none;
  position: relative;
  top: -230px;
  left: 0px;
  width: 100%;
  height: 230px;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  line-height: 1.5em;
  text-align: left;
  word-break: break-all;
  transition: all 0.4s;
}

/* .main-img:hover .explain {
  opacity: 100%;
} */

.t-con {
  font-size: 14px;
  line-height: 1.2em;
  width: 687px;
  height: 254px;
  position: absolute;
  bottom: -49px;
  left: 32.5px;
}

h2 {
  font-weight: 600;
}

p {
  margin-top: 15px;
}

.move-container img {
  transform: scale(0.5);
  position: absolute;
}

.ilost {
  top: -146px;
  left: -402px;
}

.gil {
  top: -505px;
  left: -357px;
}

.cloud {
  top: -568px;
  left: -573px;
  animation: cloud-moving 6s ease-in-out 0s infinite alternate;
  opacity: 0.9;
}

@keyframes cloud-moving {
  0% {
    transform: translate(0px, -10px) scale(0.5);
  }
  100% {
    transform: translate(0px, 10px) scale(0.5);
  }
}

.stars {
  transition: all 0.2s ease-in-out;
  animation: stars-wink 8s ease-in-out 2s infinite;
}

.s1 {
  top: 59px;
  left: 197px;
  animation-delay: 0s;
}
.s2 {
  top: 154px;
  left: 497px;
  animation-delay: 0.15s;
}
.s3 {
  top: 322px;
  left: 98px;
  animation-delay: 0.3s;
}
.s4 {
  top: 454px;
  left: 435px;
  animation-delay: 0.45s;
}
.s5 {
  top: 580px;
  left: 156.5px;
  animation-delay: 0.6s;
}

@keyframes stars-wink {
  0%,
  20%,
  100% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}

.p1 {
  /* 7-1! */
  top: 36px;
  left: 420.7px;
  animation: move5 4s ease-in-out 4s infinite alternate;
}

.p2 {
  top: -381px;
  left: -567px;
}

.p3 {
  top: -435px;
  left: -896px;
}

.p3-1 {
  top: 375.5px;
  left: 111px;
}

.p3-2 {
  top: 563.5px;
  left: 290.3px;
}

.p3ani {
  animation: move4-1 4s ease-in-out 0s infinite alternate-reverse;
}

.p4 {
  top: -286px;
  left: -334px;
  animation: move4 4s ease-in-out 0s infinite alternate;
}

@keyframes move4 {
  0%,
  5% {
    transform: translate(0px, 0px) scale(0.5);
  }
  95%,
  100% {
    transform: translate(-24px, -25px) scale(0.5);
  }
}

@keyframes move4-1 {
  0%,
  20% {
    transform: translate(-10px, -10px) scale(0.5);
  }
  80%,
  100% {
    transform: translate(10px, 10px) scale(0.5);
  }
}

.p5 {
  top: 94px;
  left: -229px;
  animation: move5 4s ease-in-out 0s infinite alternate;
}

@keyframes move5 {
  0%,
  5% {
    transform: translate(0px, 0px) scale(0.5);
  }
  95%,
  100% {
    transform: translate(-26px, 25px) scale(0.5);
  }
}

.p5-1 {
  top: 271.7px;
  left: 245.8px;
  animation: move5 4s ease-in-out 0s infinite alternate;
  overflow: hidden;
}

.p6 {
  top: 3.5px;
  left: 97.5px;
}

.p7 {
  top: -164px;
  left: 79px;
  animation: move5 4s ease-in-out 4s infinite alternate;
}

.cover1 {
  position: absolute;
  top: 423px;
  left: 225px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #0a6a5c;
}

.p8 {
  top: -423px;
  left: -71px;
}

.p9 {
  top: -12px;
  left: -106px;
  animation: move6 4s ease-in-out 0s infinite alternate;
}

.cover2 {
  position: absolute;
  top: 548px;
  left: 390px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #0a6a5c;
}

@keyframes move6 {
  0%,
  5% {
    transform: translate(0px, 0px) scale(0.5);
  }
  95%,
  100% {
    transform: translate(23.5px, 25px) scale(0.5);
  }
}

.p9-1 {
  top: 71.7px;
  left: -35.1px;
  animation: move6 4s ease-in-out 0s infinite alternate;
}

.p10 {
  top: -455.5px;
  left: -606px;
}

.p11 {
  top: 305px;
  left: -71px;
  animation: move7 4s ease-in-out 0s infinite alternate;
}

@keyframes move7 {
  0%,
  5% {
    transform: translate(0px, 0px) scale(0.5);
  }
  95%,
  100% {
    transform: translate(30px, -29px) scale(0.5);
  }
}

.p12 {
  top: -1088.8px;
  left: -465px;
}

.p13 {
  top: -430.5px;
  left: -401.5px;
}

.cover3 {
  top: 478px;
  left: 241.7px;
}

.cover4 {
  top: 440px;
  left: 236.5px;
}

.mini-title {
  margin-top: 110px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 200;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  transform: scale(1.2);
}

.ins {
  margin-top: -180px;
  margin-bottom: 104px;
  cursor: pointer;
}

a span {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

a {
  margin-right: -776px;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}

.poem {
  position: absolute;
  top: 45px;
  right: 40px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 200;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s;
}

.poem:hover {
  opacity: 0.5;
}

.arrow {
  margin-left: 8px;
  margin-top: 1px;
}

.star {
  width: 113%;
  height: 113%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 100%;
  transition: all 2s ease-in-out;
  background-color: #0a6a5c;
  z-index: -5;
  transition: 0.8s ease-in-out;
  font-family: "Noto Serif KR", serif;
  font-size: 36px;
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.p-text {
  margin-top: 350px;
  margin-left: 64px;
}
